### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# kmr pandas_challenge HeroesOfPymoli notebook

# Setup Dependencies
import pandas as pd

# Load the purchase data file
csvfile = "Resources/purchase_data.csv"

# Read the purchase data file and store into Pandas data frame
purchasedata_df = pd.read_csv(csvfile)

# Understand what is in the file and/or data frame
#purchasedata_df.columns
#purchasedata_df.describe()
purchasedata_df.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

## Player Count

* Display the total number of players

In [4]:
# Calculate the total number of unique players as defined by unique SN's
playercount = len(purchasedata_df["SN"].unique())
#print("Total Number of Players =", playercount)
#print('~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~')
playercount_df = pd.DataFrame({
    "Total Players":[playercount]
})
playercount_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Calculate the metrics desired for this data frame (table)
uniqueitems = len(purchasedata_df["Item ID"].unique())
#print("Total Number of Unique Items =", uniqueitems)
averageprice = purchasedata_df["Price"].mean()
#print("The Average Item Price =", averageprice)
purchasecount = purchasedata_df["Purchase ID"].count()
#print("The Total Number of Purchases =", purchasecount)
revenue = purchasedata_df["Price"].sum()
#print("The Total Revenue =", revenue)
#print('~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~')

# Build a new data frame to present in a more friendly table format
purchaseanalysis_df = pd.DataFrame({
    "Number of Unique Items":[uniqueitems],
    "Average Price":[averageprice],
    "Number of Purchases":[purchasecount],
    "Total Revenue":[revenue]
})

purchaseanalysis_df["Average Price"] = purchaseanalysis_df["Average Price"].map("${:.2f}".format)
purchaseanalysis_df["Total Revenue"] = purchaseanalysis_df["Total Revenue"].map("${:,.2f}".format)
purchaseanalysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
# Calculate the metrics desired for this data frame (table)
male_df = purchasedata_df.loc[purchasedata_df["Gender"] == "Male"]
malecount = len(male_df["SN"].unique())
#print("Male =", malecount)
female_df = purchasedata_df.loc[purchasedata_df["Gender"] == "Female"]
femalecount = len(female_df["SN"].unique())
#print("Female =", femalecount)
othgender_df = purchasedata_df.loc[purchasedata_df["Gender"] == "Other / Non-Disclosed"]
othgendercount = len(othgender_df["SN"].unique())
#print("Other / Non-Disclosed =", othgendercount)
#print('~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~')

gendertotal = malecount + femalecount + othgendercount
gender1 = "Male"
gender2 = "Female"
gender3 = "Other / Non-Disclosed"
malepercent = malecount / gendertotal * 100
femalepercent = femalecount / gendertotal *100
othgenderpercent = othgendercount / gendertotal *100


# Build a new data frame to present in a more friendly table format
demo2_df = pd.DataFrame({
    " ": [gender1, gender2, gender3],
    "Total Count":[malecount, femalecount, othgendercount],
    "Percentage of Players":[malepercent, femalepercent, othgenderpercent]
})
demo2_df

# Get rid of the numbered index
demo3_df = demo2_df.set_index(" ")
demo3_df["Percentage of Players"] = demo3_df["Percentage of Players"].map("{:.2f}%".format)
demo3_df

                       Total Count Percentage of Players

Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# Calculate purchasing metrics for males
malepurchasevalue = male_df["Price"].sum()
malepurchasecount = male_df["Price"].count()
malepurchaseaverage = male_df["Price"].mean()
maleppaverage = malepurchasevalue / malecount
#print(malepurchasevalue)
#print(malepurchasecount)
#print(malepurchaseaverage)
#print(maleppaverage)
#print('~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~')
# Calculate purchasing metrics for females
femalepurchasevalue = female_df["Price"].sum()
femalepurchasecount = female_df["Price"].count()
femalepurchaseaverage = female_df["Price"].mean()
femaleppaverage = femalepurchasevalue / femalecount
#print(femalepurchasevalue)
#print(femalepurchasecount)
#print(femalepurchaseaverage)
#print(femaleppaverage)
#print('~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~')
# Calculate purchasing metrics for non-disclosed
otherpurchasevalue = othgender_df["Price"].sum()
otherpurchasecount = othgender_df["Price"].count()
otherpurchaseaverage = othgender_df["Price"].mean()
otherppaverage = otherpurchasevalue / othgendercount
#print(otherpurchasevalue)
#print(otherpurchasecount)
#print(otherpurchaseaverage)
#print(otherppaverage)
#print('~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~')

# Build a new data frame to present in a more friendly table format
panalysis_df = pd.DataFrame({
    " ": [gender1, gender2, gender3],
    "Purchase Count": [malepurchasecount, femalepurchasecount, otherpurchasecount],
    "Average Purchase Price": [malepurchaseaverage, femalepurchaseaverage, otherpurchaseaverage],
    "Total Purchase Value": [malepurchasevalue, femalepurchasevalue, otherpurchasevalue],
    "Avg. Total Purchase Per Person": [maleppaverage, femaleppaverage, otherppaverage]
})
panalysis_df

# Get rid of the numbered index
panalysis2_df = panalysis_df.set_index(" ")
panalysis2_df["Average Purchase Price"] = panalysis2_df["Average Purchase Price"].map("${:.2f}".format)
panalysis2_df["Total Purchase Value"] = panalysis2_df["Total Purchase Value"].map("${:,.2f}".format)
panalysis2_df["Avg. Total Purchase Per Person"] = panalysis2_df["Avg. Total Purchase Per Person"].map("${:.2f}".format)
panalysis2_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg. Total Purchase Per Person
,,,,
Male,652,$3.02,"$1,967.64",$4.07
Female,113,$3.20,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [8]:
# Create bins for age groups
bins = [0,9,14,19,24,29,34,39,99]

# Create the names for the five bins
group_names = ["<10","10-14","15-19","20-24","25-29", "30-34","35-39","40+"]

purchasedata_df["Age Group"] = pd.cut(purchasedata_df["Age"], bins, labels=group_names, include_lowest=True)
purchasedata_df

g10_df = purchasedata_df.loc[purchasedata_df["Age Group"] == "<10"]
g10count = len(g10_df["SN"].unique())
#print("<10:",g10count)
g10percent = g10count / playercount *100

g15_df = purchasedata_df.loc[purchasedata_df["Age Group"] == "10-14"]
g15count = len(g15_df["SN"].unique())
#print("10-14:",g15count)
g15percent = g15count / playercount *100

g20_df = purchasedata_df.loc[purchasedata_df["Age Group"] == "15-19"]
g20count = len(g20_df["SN"].unique())
#print("15-19:",g20count)
g20percent = g20count / playercount *100

g25_df = purchasedata_df.loc[purchasedata_df["Age Group"] == "20-24"]
g25count = len(g25_df["SN"].unique())
#print("20-24:",g25count)
g25percent = g25count / playercount *100

g30_df = purchasedata_df.loc[purchasedata_df["Age Group"] == "25-29"]
g30count = len(g30_df["SN"].unique())
#print("25-29:",g30count)
g30percent = g30count / playercount *100

g35_df = purchasedata_df.loc[purchasedata_df["Age Group"] == "30-34"]
g35count = len(g35_df["SN"].unique())
#print("30-34:",g35count)
g35percent = g35count / playercount *100

g40_df = purchasedata_df.loc[purchasedata_df["Age Group"] == "35-39"]
g40count = len(g40_df["SN"].unique())
#print("35-39:",g40count)
g40percent = g40count / playercount *100

g99_df = purchasedata_df.loc[purchasedata_df["Age Group"] == "40+"]
g99count = len(g99_df["SN"].unique())
#print("40+:",g99count)
g99percent = g99count / playercount *100

# Build a new data frame to present in a more friendly table format
ademo_df = pd.DataFrame({
    "Age Group": ["<10","10-14","15-19","20-24","25-29", "30-34","35-39","40+"],
    "Total Count": [g10count, g15count, g20count, g25count, g30count, g35count, g40count, g99count],
    "Percentage of Players": [g10percent, g15percent, g20percent, g25percent, g30percent, g35percent, g40percent, g99percent]
})
ademo_df

# Get rid of the numbered index
ademo2_df = ademo_df.set_index("Age Group")
ademo2_df["Percentage of Players"] = ademo2_df["Percentage of Players"].map("{:.2f}%".format)
ademo2_df

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
# Calculate purchasing metrics for each age group
g10purchasevalue = g10_df["Price"].sum()
g10purchasecount = g10_df["Price"].count()
g10purchaseaverage = g10_df["Price"].mean()
g10ppaverage = g10purchasevalue / g10count
#print(g10purchasevalue)
#print(g10purchasecount)
#print(g10purchaseaverage)
#print(g10ppaverage)
#print('~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~')
# Calculate purchasing metrics for each age group
g15purchasevalue = g15_df["Price"].sum()
g15purchasecount = g15_df["Price"].count()
g15purchaseaverage = g15_df["Price"].mean()
g15ppaverage = g15purchasevalue / g15count
#print(g10purchasevalue)
#print(g10purchasecount)
#print(g10purchaseaverage)
#print(g10ppaverage)
#print('~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~')
# Calculate purchasing metrics for each age group
g20purchasevalue = g20_df["Price"].sum()
g20purchasecount = g20_df["Price"].count()
g20purchaseaverage = g20_df["Price"].mean()
g20ppaverage = g20purchasevalue / g20count
#print(g10purchasevalue)
#print(g10purchasecount)
#print(g10purchaseaverage)
#print(g10ppaverage)
#print('~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~')
# Calculate purchasing metrics for each age group
g25purchasevalue = g25_df["Price"].sum()
g25purchasecount = g25_df["Price"].count()
g25purchaseaverage = g25_df["Price"].mean()
g25ppaverage = g25purchasevalue / g25count
#print(g10purchasevalue)
#print(g10purchasecount)
#print(g10purchaseaverage)
#print(g10ppaverage)
#print('~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~')
# Calculate purchasing metrics for each age group
g30purchasevalue = g30_df["Price"].sum()
g30purchasecount = g30_df["Price"].count()
g30purchaseaverage = g30_df["Price"].mean()
g30ppaverage = g30purchasevalue / g30count
#print(g10purchasevalue)
#print(g10purchasecount)
#print(g10purchaseaverage)
#print(g10ppaverage)
#print('~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~')
# Calculate purchasing metrics for each age group
g35purchasevalue = g35_df["Price"].sum()
g35purchasecount = g35_df["Price"].count()
g35purchaseaverage = g35_df["Price"].mean()
g35ppaverage = g35purchasevalue / g35count
#print(g10purchasevalue)
#print(g10purchasecount)
#print(g10purchaseaverage)
#print(g10ppaverage)
#print('~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~')
# Calculate purchasing metrics for each age group
g40purchasevalue = g40_df["Price"].sum()
g40purchasecount = g40_df["Price"].count()
g40purchaseaverage = g40_df["Price"].mean()
g40ppaverage = g40purchasevalue / g40count
#print(g10purchasevalue)
#print(g10purchasecount)
#print(g10purchaseaverage)
#print(g10ppaverage)
#print('~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~')
g99purchasevalue = g99_df["Price"].sum()
g99purchasecount = g99_df["Price"].count()
g99purchaseaverage = g99_df["Price"].mean()
g99ppaverage = g99purchasevalue / g99count
#print(g10purchasevalue)
#print(g10purchasecount)
#print(g10purchaseaverage)
#print(g10ppaverage)
#print('~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~')

# Build a new data frame to present in a more friendly table format
apurchase_df = pd.DataFrame({
   "Age Group": ["<10","10-14","15-19","20-24","25-29", "30-34","35-39","40+"],
    "Purchase Count": [g10purchasecount, g15purchasecount, g20purchasecount, g25purchasecount, g30purchasecount, g35purchasecount, g40purchasecount, g99purchasecount],
    "Average Purchase Price": [g10purchaseaverage, g15purchaseaverage, g20purchaseaverage, g25purchaseaverage, g30purchaseaverage, g35purchaseaverage, g40purchaseaverage, g99purchaseaverage],
    "Total Purchase Value": [g10purchasevalue, g15purchasevalue, g20purchasevalue, g25purchasevalue, g30purchasevalue, g35purchasevalue, g40purchasevalue, g99purchasevalue],
    "Avg. Total Purchase Per Person": [g10ppaverage, g15ppaverage, g20ppaverage, g25ppaverage, g30ppaverage, g35ppaverage, g40ppaverage, g99ppaverage]
})
apurchase_df

# Get rid of the numbered index
apurchase2_df = apurchase_df.set_index("Age Group")
apurchase2_df["Average Purchase Price"] = apurchase2_df["Average Purchase Price"].map("${:.2f}".format)
apurchase2_df["Total Purchase Value"] = apurchase2_df["Total Purchase Value"].map("${:.2f}".format)
apurchase2_df["Avg. Total Purchase Per Person"] = apurchase2_df["Avg. Total Purchase Per Person"].map("${:.2f}".format)
apurchase2_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg. Total Purchase Per Person
Age Group,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:

price_df = purchasedata_df.groupby(["SN"]).sum()["Price"].rename("Total Purchase Value")
#price_df
item_df = purchasedata_df.groupby(["SN"]).count()["Price"].rename("Purchase Count")
#item_df
avg_df=purchasedata_df.groupby(["SN"]).mean()["Price"].rename("Average Purchase Value")
#avg_df
spend_df = pd.DataFrame({"Purchase Count": item_df, "Average Purchase Price": avg_df,"Total Purchase Value": price_df}).sort_values(["Total Purchase Value"], ascending=False)
spend_df["Total Purchase Value"] = spend_df["Total Purchase Value"].map("${:.2f}".format)
spend_df["Average Purchase Price"] = spend_df["Average Purchase Price"].map("${:.2f}".format)
spend_df.head(12)

              Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                  5                  $3.79               $18.96
Idastidru52                4                  $3.86               $15.45
Chamjask73                 3                  $4.61               $13.83
Iral74                     4                  $3.40               $13.62
Iskadarya95                3                  $4.37               $13.10
Ilarin91                   3                  $4.23               $12.70
Ialallo29                  3                  $3.95               $11.84
Tyidaim51                  3                  $3.94               $11.83
Lassilsala30               3                  $3.84               $11.51
Chadolyla44                3                  $3.82               $11.46
Iri67                      3                  $3.79               $11.37
Inguron55                  3                  $3.70               $11.11

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [66]:

iprice_df = purchasedata_df.groupby(["Item ID", "Item Name"]).sum()["Price"].rename("Total Purchase Value")
#iprice_df
iitem_df = purchasedata_df.groupby(["Item ID", "Item Name"]).count()["Price"].rename("Purchase Count")
#iitem_df
iavg_df=purchasedata_df.groupby(["Item ID", "Item Name"]).mean()["Price"].rename("Average Purchase Value")
#avg_df
ispend_df = pd.DataFrame({"Purchase Count": iitem_df, "Item Price": iavg_df,"Total Purchase Value": iprice_df}).sort_values(["Purchase Count"], ascending=False)
ispend_df["Total Purchase Value"] = ispend_df["Total Purchase Value"].map("${:.2f}".format)
ispend_df["Item Price"] = ispend_df["Item Price"].map("${:.2f}".format)
ispend_df

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
...,...,...,...,...
42,The Decapitator,1,$1.75,$1.75
51,Endbringer,1,$4.66,$4.66
118,"Ghost Reaver, Longsword of Magic",1,$2.17,$2.17
104,Gladiator's Glaive,1,$1.93,$1.93
91,Celeste,1,$4.17,$4.17

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [67]:
iprice_df = purchasedata_df.groupby(["Item ID", "Item Name"]).sum()["Price"].rename("Total Purchase Value")
#iprice_df
iitem_df = purchasedata_df.groupby(["Item ID", "Item Name"]).count()["Price"].rename("Purchase Count")
#iitem_df
iavg_df=purchasedata_df.groupby(["Item ID", "Item Name"]).mean()["Price"].rename("Average Purchase Value")
#avg_df
iprofit_df = pd.DataFrame({"Purchase Count": iitem_df, "Item Price": iavg_df, "Total Purchase Value": iprice_df}).sort_values(["Total Purchase Value"], ascending=False)
iprofit_df["Total Purchase Value"] = iprofit_df["Total Purchase Value"].map("${:.2f}".format)
iprofit_df["Item Price"] = iprofit_df["Item Price"].map("${:.2f}".format)
iprofit_df

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80
...,...,...,...,...
28,"Flux, Destroyer of Due Diligence",2,$1.06,$2.12
125,Whistling Mithril Warblade,2,$1.00,$2.00
126,Exiled Mithril Longsword,1,$2.00,$2.00
104,Gladiator's Glaive,1,$1.93,$1.93
42,The Decapitator,1,$1.75,$1.75

In [ ]:
# End Rodgers HeroesOfPymoli homework